* {
  font-family: "Inter";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4) 95%, rgba(0, 0, 0, 0) 100%);
}

tooltip {
  background: #212121;
  opacity: 0.8;
  border-radius: 4px;
}

#window {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 2px;
  font-weight: 600;
}


#workspaces button {
  margin-right: 3px;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 400;
  padding: 0 5px 0 5px;
  transition: background 0.3s ease;
}

#workspaces button.active {
  font-weight: 800;
  background: rgba(66, 66, 66, 0.67);
}

#workspaces button.focused {
  background: #eba0ac;
}

#workspaces button.urgent {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  20% {
    background-color: rgba(33, 33, 33, 0);
  }

  40% {
    background-color: rgba(189, 189, 189, 0.5);
  }

  90% {
    background-color: rgba(33, 33, 33, 0);
  }
}


#workspaces {
  padding-left: 8px;
}

#pulseaudio,
#pulseaudio.microphone {
  padding-left: 8px;
  padding-right: 8px;
  min-width: 16px;
}

#tray {
  padding-right: 10px;
}

#clock {
  min-width: 64px;
  margin-left: -8px;
  font-weight: 600;
}

#custom-power_btn {
  min-width: 24px;
  margin-left: 2px;
  margin-right: 8px;
}

#workspaces button:hover {
  background: rgba(66, 66, 66, 0.3);

}

#workspaces button.active:hover {
  background: rgba(66, 66, 66, 1);
}

#battery:hover,
#pulseaudio:hover,
#tray>*:hover,
#custom-power_btn:hover,
#clock:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}
