#window {
  background-color: rgba(24, 24, 24, 0.8);
  border-radius: 4px;
  font-size: 12px;
}
#window #outer-box #input {
  background-color: #212121;
  color: #fafafa;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  border-radius: 4px 4px 0px 0px;
}

#window #outer-box #input:focus, #window #outer-box #input:focus-visible, #window #outer-box #input:active {
  border: none;
  outline: 1px solid transparent;
  outline-offset: 1px;
}
#window #outer-box #scroll #inner-box #entry {
  color: #fafafa;
  background-color: #212121 ;
  padding: 0.6rem 1rem;
}

#window #outer-box #scroll #inner-box #entry #img {
  width: 1rem;
  margin-right: 0.5rem;
}
#window #outer-box #scroll #inner-box #entry:selected {
  color: #fafafa;
  background-color: #424242;
  outline: none;
}

#input:focus{
  box-shadow: none;
}
