* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 4px;
    border-color: #212121;
	text-decoration-color: #FFFFFF;
    color: #FAFAFA;
	background-color: rgba(30, 30, 30, 0.8);
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position:center;
	background-size: 35%;
	margin: 5px;
}

button:focus, button:active, button:hover {
	background-color: #424242;
	outline-style: none;
	border-color: #FAFAFA;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
